body {
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
  background: peachpuff;
}
h1{
    border-radius: 30px;
    background-color: aliceblue;
    text-align:center;
    margin: 0,auto;
}

#profile {
  background: white;
  width:600px;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 100px;
  border-radius: 50%;
}

a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
